.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.userlist {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  gap: 20px;
}
.form {
  display: flex;
  flex-direction: column;
}